<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.anotherme17.spiderproxy.dao.proxy.ProxyPoolDao">
    <resultMap id="ipProxyResult" type="io.github.anotherme17.spiderproxy.po.proxy.IpProxyPo">
        <id property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="port" column="port"/>
        <result property="location" column="location"/>
        <result property="anonymity" column="anonymity"/>
        <result property="proxyType" column="proxyType"/>
        <result property="speed" column="speed"/>
        <result property="gmtCreate" column="gmtCreate"/>
        <result property="gmtModify" column="gmtModify"/>
    </resultMap>

    <insert id="insertIpProxy" parameterType="io.github.anotherme17.spiderproxy.po.proxy.IpProxyPo">
        INSERT INTO ip_proxy (id,ip,port,location,anonymity,proxyType,speed,gmtCreate,gmtModify)
        VALUES (#{id},#{ip},#{port},#{location},#{anonymity},#{proxyType},#{speed},#{gmtCreate},#{gmtModify})
    </insert>

    <select id="getById" parameterType="java.lang.String" resultMap="ipProxyResult">
        SELECT * FROM ip_proxy WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="ipProxyResult">
        SELECT * FROM ip_proxy
    </select>

    <update id="update" parameterType="io.github.anotherme17.spiderproxy.po.proxy.IpProxyPo">
        UPDATE ip_proxy
        <set>
            <if test="gmtModify != null">
                gmtModify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="speed != null">
                speed = #{speed}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM ip_proxy WHERE id = #{id}
    </delete>
</mapper>